{% set entryType = content.field_type.0["#plain_text"]|trim %}
{% set index = content.field_index.0 %}
{% set newValue = content.field_has_new_value.0["#markup"] %}

{% spaceless %}
	{% if entryType == "44" %}
		{% if content.field_hyphen_position.0 %}
			{% set hp = content.field_hyphen_position.0["#markup"]|trim %}
			{% if hp == 'right' %}
				{% set entryTitle = node.label ~ '-' %}
			{% elseif hp == 'left' %}
				{% set entryTitle = '-' ~ node.label %}
			{% else %}
				{% set entryTitle = '-' ~ node.label ~ '-'  %}
			{% endif %}
		{% endif %}
	{% else %}
		{% set entryTitle = title %}
	{% endif %}
	<span class="headword-type-{{entryType}}">{{ entryTitle }}</span>
	<sup>{{index}}</sup>
	<span class="government">{{content.field_government}}</span>
{% endspaceless %}
