<div class="sense">
	{% if content.field_index.0 %}
		<span class="sense-index">{{content.field_index.0}}{{'.'}}</span>
	{% endif %}
	{{content.field_items}}
	<div class="sense-references">{{content.field_references}}</div>
</div>
