<span class="see-ref-item">
	{{content.field_entry_see_ref}}
	{% if content.field_sense_index.0 %}
		<span class="see-ref-item-sense-index">({{content.field_sense_index.0}})</span>
	{% endif %}
</span>