{% set id = node.id %}
<details class="sub-entry" open>
	<summary class="sub-entry-title text-white">
		{% include 'ds-reset--node-entry-short-title.html.twig' %}
	</summary>
	<div class="sub-entry-region m-3">
		<div class="entry-definition-section">
			{{ content.field_senses }}
			{{ content.field_references }}
		</div>
	</div>
</details>
