.about-navs{margin-top:16px;}
#block-copyright{padding-top:15px;}.version{float:right;}
#block-editorhelp{float:right;}
#block-editortools > .menu{margin-left:0px;padding:0.95em 1.45em;}#block-editortools{margin-top:1em;margin-bottom:1em;border:1px solid #bfbfbf;border-radius:3px;background-color:#fcfcfa;color:#0074bd;text-shadow:0 1px 0 white;width:63%;}#block-editortools > .menu > .menu-item{display:inline-block;}
.btn-dd-header{margin-bottom:0;background-color:rgba(0,0,0,0.03);border-bottom:1px solid rgba(0,0,0,0.125);height:38px;}.btn-dd-header > a:hover{text-decoration:none !important;}
.btn-dd-shevron{font-size:11px;margin-top:5px;}
.btn-dd-text{font-size:16px;}
.card-body-scroll{max-height:168px;overflow-y:auto;}
.card-footer{text-align:right;font-weight:600;height:28px !important;padding-top:1px !important;padding-right:10px !important;color:#537072 !important}
.card-header{height:fit-content !important;padding-top:0.3rem !important;padding-bottom:0px;background-color:#537072 !important;}
.card-search-filter{margin-top:15px;margin-bottom:15px;}
.card-title{margin-bottom:0.5rem !important;}
input.clipboardjs{text-align:center;caret-color:transparent;font-size:24px;width:30px;height:20px;background-color:ghostwhite;}
#edit-reset--2{display:none;}
#edit-submit-search--2{background-color:#8e9b97 !important;color:white !important;font-size:0.875rem;line-height:1.5;border-radius:0.2rem;padding:0.25rem 0.5rem;border:1px solid #c6c8ca !important;}
#edit-meta{display:none;}
.entry-edit-button{width:12px;height:12px;position:absolute;top:0;right:0;z-index:1;padding-right:26px;padding-top:7px;}.entry-edit-button > .field-content > a{color:whitesmoke;}
#release-group{display:flex;justify-content:space-between;}#headword-option-group{display:flex;justify-content:space-between;align-items:center;width:470px;}#form-entry-theadword-group{display:flex;}#edit-field-index-0-value{width:100px;margin-left:10px;}.form-number{width:100px;}#edit-field-type{margin-right:10px;}.field--type-boolean{margin-right:10px;}.form-type-checkbox{align-items:center !important;flex-direction:row !important;}.form-type-checkbox > label{margin-left:5px;margin-top:3px;}
.entry-grid-row{position:relative;}
.entry-modal > .modal-content > .modal-body{padding:0!important;}
footer{padding:0.5rem 0 !important;margin-bottom:0 !important;}
.form-item-field-has-new-value-value,.form-item-field-is-occasionalism-value{margin-top:0.5em;margin-bottom:0.5em;display:flex;flex-direction:row-reverse;align-items:baseline;justify-content:space-between;}.form-item-field-has-new-value-value > label{margin-bottom:0 !important;cursor:pointer;}.form-item-field-is-occasionalism-value > label{margin-bottom:0 !important;cursor:pointer;}
.has-new-value,.occasionalism{padding-left:1rem !important;padding-right:0.3rem !important;}
label.form-required::after{display:none;}label.form-required{display:inline-flex;}
.modal-body > .entry-card{margin-bottom:0px !important;}.modal-body > .entry-card > .card-body{max-height:calc(100vh - 210px);overflow-y:auto;}
.modal-footer{display:none;}
.modal-title-link{cursor:pointer;color:#0056b3;}
.nav-link-about.active{color:white !important;background-color:#537072 !important;border-color:#42313a !important;}
.new-value-tooltip{cursor:pointer;}
.pager__item > .button{color:#004085;background-color:#cce5ff;font-size:0.875rem;line-height:1.5;border-radius:0.2rem;padding:0.25rem 0.5rem;border:1px solid #c6c8ca !important;}
.quote-source-date{font-size:90%;color:darkgrey;}
.quote-source-value{font-size:90%;color:darkgrey;}
.quote-value{font-style:italic;font-size:90%;}
#edit-submit-search,#edit-submit-search--2{width:100%;}#reset-search-filters{width:100%;color:#1b1e21;background-color:rgba(0,0,0,0.03);border-color:#c6c8ca;}
.search-result-info{padding-bottom:0.4rem;padding-top:0.4rem;}
.sense{text-align:justify;}
.sense-index{font-weight:bold;}
.moto{font-family:ui-monospace;text-transform:uppercase;font-size:7px;letter-spacing:6.5px;color:#fff3cd;font-weight:900;}.slogan{letter-spacing:4px;}
.views-summary-unformatted > a{color:white;font-weight:700;}
.view-glossary{margin-top:16px;}
.view-glossary-front > .view-content{display:flex;justify-content:space-between;}
.view-last-changed-entries,.view-search{margin-top:15px;}
.vocable-modal-body{max-height:calc(100vh - 210px);overflow-y:auto;}
.alert-primary{background-color:#8e9b97 !important;color:white !important;}
.bg-primary{background-color:#2c4a52 !important;}
.btn-primary{color:white !important;background-color:#4D648D !important;border-color:#42313a !important;}
#edit-field-hyphen-position{height:29px;margin-right:10px;}
.glossary-grid-view > .view-content{padding-left:15px;}
.pager__item > .button{background-color:#8e9b97 !important;color:white !important;font-size:0.875rem;line-height:1.5;border-radius:0.2rem;padding:0.25rem 0.5rem;border:1px solid #c6c8ca !important;}
.view-display-id-attachment_1{background-color:#537072 !important;}
.view-display-id-attachment_2{background-color:#537072 !important;}
