<div class="entry-card mt-3">
	<div class="card-header text-white">
		<h5 class="mb-2 mt-1"><i class="fa fa-search" aria-hidden="true"></i></h5>
	</div>
	<div class="card-body">
		{{ content }}
	</div>
</div>
