.btn-dd-header {
    margin-bottom: 0;
    background-color: rgba(0,0,0,0.03);
    border-bottom: 1px solid rgba(0,0,0,0.125);
    height: 38px;
}

.btn-dd-header > a:hover {
    text-decoration: none !important;
}