.entry-edit-button{
    width: 12px;
    height: 12px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    padding-right: 26px;
    padding-top: 7px;
}
.entry-edit-button > .field-content > a {
  color: whitesmoke;
}