<span class="punct">,</span><span class="field-flexions"> {{content.field_flexions_value.0}}</span>
{% if content.field_is_questionable.0["#markup"] == "1" %}
	<sup class="is-questionable">?</sup>
{% endif %}
