<div class="etymology">
	<span data-toggle="tooltip" data-placement="left" title="Этимология" class="term-tooltip">
		<img src="/themes/images/e-circle.png" class="term-image">
	</span>
	<span class="badge border">{{content.field_word_building_type.0}}</span>
	<span>{{content.field_etymology_value.0}}</span>
</div>
