<details class="extraling-reference-details reference-details" open>
	<summary>Энциклопедическая справка</summary>
	<p class="extraling-reference">
		<span class="bg-secondary">{{content.field_extraling_reference_value}}</span>
		{{content.field_extraling_items}}
	</p>
</details>
