<details class="spelling-comment-reference-details">
	<summary>Орфографический комментарий</summary>
	<p class="spelling-comment-reference">
		<span class="badge border">{{content.field_spelling_comment_dict.0}}</span>
		<span>{{content.field_spelling_comment_reference.0}}</span>
	</p>
</details>
