<a tabindex="0" data-placement="right" data-container="body" role="button" data-toggle="popover" data-trigger="focus" data-content='Экстралинвистическая справка' class="explain-popover">
	<span class="extraling-popover">{{content.field_extraling_reference_value}}</span>
</a>
