<div class="spelling-references">
	{% for key, items in content.field_spelling_reference_value if key|first != '#'%}
		<span class="badge border spelling-reference">{{ content.field_spelling_reference_value[key] }}</span>
	{% endfor %}
</div>
