<details class="spelling-comment-ref">
	<summary>Орфографический комментарий</summary>
	<span class="badge border">{{content.field_spelling_comment_dict.0}}</span>
	<span>{{content.field_spelling_comment_reference.0}}</span>
</details>