<details class="etymology-reference-details">
	<summary>Этимология</summary>
	<p class="etymology-reference">
		<span class="badge border">{{content.field_word_building_type.0}}</span>
		<span>{{content.field_etymology_value.0}}</span>
	</p>
</details>
