	<span data-toggle="tooltip" data-placement="left" title="Экстралинвистическая справка" class="term-tooltip">
		<img src="/themes/images/book.png" class="term-image">
	</span>
<span>{{content.field_extraling_reference_value}}</span>
