<details class="dictionary-fixation-reference-details reference-details" open>
	<summary>Словарная фиксация</summary>
	<p class="dictionary-fixation-reference">
		<span class="badge border">{{content.field_spelling_comment_dict.0}}</span>
		<span>{{content.field_dictionary_fixation_value.0}}</span>
	</p>
</details>