<details class="see-references-details reference-details" open>
	<summary>Лексико-семантические связи</summary>
	<p class="see-references">
		{% for key, items in content.field_see_reference_value if key|first != '#'%}
			{% set id = items["#cache"].keys[2] %}
			<span class="badge border see-reference">
				<a href="/node/{{id}}">
					{{ content.field_see_reference_value[key] }}
				</a>
			</span>
		{% endfor %}
	</p>
</details>
