<span class="quote-source-value">{{content.field_quote_source_value.0}}</span>

{%- if content.field_source_part | render -%}

	<span class="field-quote-date">,&nbsp;{{content.field_quote_date.0}},&nbsp;</span>

	<span class="field-source-part">{{content.field_source_part.0}}.</span>

{%- else -%}

	<span class="field-quote-date">&nbsp;{{content.field_quote_date.0}}.</span>

{%- endif -%}